:root {
    --base-color: white;
    --base-variant: #8d8d8d;
    --text-color: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}


* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #000000;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;

}

.header_divider {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 0;

}



.header_logo_nav {
    display: inline-flex;
    height: 50px;
    gap: 10px;

}

.header_logo {
    width: 100px;
    margin: 5px 10px;
}

.logo_text_header {
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    text-decoration: none;

    cursor: pointer;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 20px;



}

.scrol_header {
    width: 100%;
    height: 100px;
    overflow: auto;
    counter-increment: gallery-cell;
    justify-content: center;
    align-items: center;


}


.scroil_img {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    gap: 20px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
   


}

.scrol_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;


}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
}

.navbar {
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}




.icon_divider {
    width: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: contain;

}


.icon_divider_scasan {
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 5px;
}

.menu_text {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;





}

.menu_text:active {
    color: #539DF3;

}



.container {
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 50px;
}

.name_and_icon {
    gap: 20px;
}

.image_divider_main {
    width: 600px;
    height: 80vh;
    display: block;
    margin-top: 70px;
}

.text_h1 {
    font-size: 116px;
    color: #000000;
    margin-top: 87px;
    line-height: auto;
    letter-spacing: 8.5%;
    font-weight: bold;
    font-family: 'Hiatus', sans-serif;
}

.line {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    position: fixed;
    bottom: 0;
}



.info_main {
    display: block;
}

.rectangle {
    width: 100%;
    object-fit: contain;
}

.video_text_divider {
    width: 100%;
    height: 50px;
    overflow: auto;
}

video {
    width: 100%;
    object-fit: contain;
}

.video_info {
    width: 100%;
}

.video_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    overflow: auto;
    padding: 5px;
    margin: 5px;

}