* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: #ffffff;
    margin-bottom: 100px;
}
.header_divider_users{
    width: 100%;
    height: 40px;
    margin-top: 0;
}

.icon_text_divider{
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    padding-top:20px;

}
.login_text_header{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.container {
    width: 100%;
}
.user_divider{
    width: 100%;
   justify-content: start;
   text-align: start;
   align-items: start;
}
.profile_img_divider {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
   margin-left: 20px;
   justify-content: start;
   align-items: start;
}

.profile_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile_and_btn {
    display: flex;

}

.profile_info_divider {
    display: block;
    justify-content: start;
    align-items: start;
  

}

.edit_profile_btn_divider {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}

.profile_edit_btn {
    height: 35px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    background: rgba(74, 74, 74, 0.925);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: start;
    border: none;
    cursor: pointer;
}

.profile_name {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    line-height: 5px;
}

.name_and_icon {
    margin: 0;
    width: 100px;
    display: flex;
    cursor: pointer;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.profile_info_text_divider {
    display: block;
    margin-left: 0;
}

.profile_info_text {
    font-size: 14px;
    display: block;
    margin: 5px 20px;
    font-weight: bold;
    
}
.news_input_profile{
    margin-top: 20px;
    margin-left: 20px;
}
label{
    margin-left: 20px;
}
.line_user{
    width: 100%;
    height: 1px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.post_wiew_number{
  width: 100%;
    justify-content: center;
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items:center;
    margin-top: 10px;
}

.post_icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 10px;
}

.post_img_divider{
    width: 100%;
    margin-top: 10px;
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(3,4fr);
    text-align: center;
    align-items: center;
}

.post_image{
    width:100%;
    height: 150px;
    object-fit: cover;
    
}

.menu_icon_upload{
    width: 100%;
    display: flex;
    height: fit-content;

}
